# Requirements needed for the setup make target and the test target
# outside of the individual tox environments.

Django>=1.11
pluggy==0.3.0
py==1.10.0
tox==2.0.1
virtualenv==16.7.4
xunitmerge==1.0.4
