# Requirements needed for the setup make target and the test target
# outside of the individual tox environments.

pluggy==1.0.0
py==1.10.0
tox==3.27.1
tox-pyenv==1.1.0
tox-setuptools-version
virtualenv==20.16.7
xunitmerge==1.0.4

# dependencies
filelock>=3.0.0 # tox
packaging>=14 # tox
tomli>=2.0.1 # tox
pyparsing==3.0.9
platformdirs==2.5.4
distlib==0.3.6